@font-face {
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display:swap;
    src: local('Montserrat'), local('Montserrat-Medium'),
    url(../assets/fonts/montserrat_style-normal_weight-500.woff2) format('woff2'),
  }
  @font-face {
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display:swap;
    src: local('Montserrat'), local('Montserrat-Bold'),
    url(../assets/fonts/montserrat_style-normal_weight-700.woff2) format('woff2'),
  }
  @font-face {
  font-family:'Fraunces';
  font-style: normal;
  font-weight: 700;
  font-display:swap;
  src: local('Fraunces'), local('Fraunces-Bold'),
  url(../assets/fonts/fraunces_style-normal_weight-700.woff2) format('woff2'),
  }
